/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Arial, sans-serif;
}

body {
  background: #ffffff;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  width: 100%;
  height: 100%;
}